body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #5988FF; /* Web sayfasının arka plan rengi */
    color: #ffffff; /* Metin rengi */
}

h1 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 40px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
ul {
    color: #FD98FB;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    border: #D6FF6B;
}
p {
    color:#D6FF6B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}
h2 {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}