body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #5988FF; /* Web sayfasının arka plan rengi */
    color: #ffffff; /* Metin rengi */
}

@keyframes color-change {
    0% {
        color: blue;
    }
    20% {
        color: green;
    }
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}
ul {
    color: #FD98FB;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    border: #D6FF6B;
}
p {
    animation: color-change 1s infinite;
    color:#D6FF6B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}
h2 {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}